.like-img {
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.song-card {
  .song-control {
    display: none;
  }
  &:hover {
    background-color: #ffffff1a;
    .song-index {
      display: none;
    }
    .song-control {
      display: block;
    }
  }
}
